{%extends 'base.html'%}
{%load custom_tags%}

{%block title%}
{%if object%}
post:{{object}}
{%elif object_list%}
posts
{%endif%}
{%endblock%}

{%block content%}

{%if object%}
<h1>{{object.title}}</h1>
<p>author:{{object.author}}, created:{{object.created}} </p>
<p>{{object.text}}</p>


<!-- use template tags -->




<p>{{object.text|append_x}}</p>
<p>{{object.text|upper}}</p>

<p>{{object.text|is_safe_string}}</p>
<p>{{object.text|safe|is_safe_string}}</p>

<p>{{object.text|safe}}</p>
<p>{{object.text|safe|safe_to_normal}}</p>
<p>{{object.text|safe|safe_again}}</p>








<!-- end use template tags -->

{%elif object_list%}
{%for object in object_list%}
<h1><a href="{%url 'post-detail' object.slug%}">{{object.title}}</a></h1>
<a href="{%url 'post-delete' object.slug %}">delete</a>
<p>author:{{object.author}}, created:{{object.created}} </p>
<p>{{object.text}}</p>
{%endfor%}
{%endif%}

{%endblock%}