{%extends 'base.html'%}
{%load custom_tags%}

{%block title%}
{%if object%}
post:{{object}}
{%elif object_list%}
posts
{%endif%}
{%endblock%}

{%block content%}

{%if object%}
<h1>{{object.title}}</h1>
<p>author:{{object.author}}, created:{{object.created}} </p>
<p>{{object.text}}</p>


<!-- use template tags -->



<!-- simple template filter -->
<p>{{object.text|append_x}}</p>
<p>{{object.text|upper}}</p>

<!-- SafeString and normal string -->
<p>{{object.text|is_safe_string}}</p>
<p>{{object.text|safe|is_safe_string}}</p>

<!-- is_safe=True flag -->
<p>{{object.text|safe}}</p>
<p>{{object.text|safe|safe_to_normal}}</p>
<p>{{object.text|safe|safe_again}}</p>

<!-- needs_autoscape -->
<h1>autoescape is on</h1>
<p>**needs_autoscape=False</p>
<p>{{object.text|without_needs_autoescape}}</p>

<p>**needs_autoscape=True**</p>

<p>{{object.text|needs_autoescape}}</p>

<h1>autoescape is off</h1>


<!-- **needs_autoscape=False**< -->
{% autoescape off %}

	<p>{{object.text|without_needs_autoescape}}</p>

	<p>**needs_autoscape=True**</p>

	<p>{{object.text|needs_autoescape}}</p>


{%endautoescape%}


<h2>combine safe and escape:</h2>
<p>{{object.text|safe|escape}}</p>
<p>{{object.text|escape|safe}}</p>
<p>{{object.text|cond_escape}}</p>








<!-- end use template tags -->

{%elif object_list%}
{%for object in object_list%}
<h1><a href="{%url 'post-detail' object.slug%}">{{object.title}}</a></h1>
<a href="{%url 'post-delete' object.slug %}">delete</a>
<p>author:{{object.author}}, created:{{object.created}} </p>
<p>{{object.text}}</p>
{%endfor%}
{%endif%}

{%endblock%}